* {
    font-family: 'Lexend', sans-serif;
}

.background {
        /* width: 25%; for auto resize */
    width: 400px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50px;
    padding: 50px;
    box-shadow: 0 0px 10px 0;
}

@media only screen and (max-width: 800px) {
    .background {
        width: 50%;
    }
}

.background p {
    margin-top: -53px;
}

#user-creation-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-box-2 {
    position: relative;
    overflow: hidden;
    top: -22.5%
}

#title-box img, #title-box-2 img {
    width: 40%;
}

::placeholder {
    font-weight: 400;
}

#name-input {
    width: 100%;
    margin: 20px;
    border-bottom: 1px solid grey;
    overflow: hidden;
}

#name-input input {
    width: 100%;
    padding: 8px 0;
    border: none;
    outline: none;
}

#email-input {
    width: 100%;
    margin: 20px;
    border-bottom: 1px solid grey;
    overflow: hidden;
}

#email-input input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0;
}

#password-input {
    width: 100%;
    margin: 20px;
    border-bottom: 1px solid grey;
    overflow: hidden;
}

#password-input input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0;
}

#dropdowns {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: left;
}

#dropdowns select {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    color: black;
}

#dropdowns select:hover {
    cursor: pointer;
}

#occupation-dropdown, #state-dropdown {
    width: 100%;
    overflow: hidden;
}

#state-dropdown {
    margin-left: 30px;
}

.form-button {
    margin-top: 40px;
}

.form-button input {
    width: 100px;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 50px;
    background: #300d38;
    color: white;
    font-weight: 500;
}

.form-button input:hover {
    background: #880e72;
    cursor: pointer;
}
